<% include ../partials/header %>

    <div class="ui container padded raised very segment text">
        <h2>Comment for <%=car.name%></h2>
    </div>
    <div class="ui container padded raised very segment text">
        <form class="ui form" action="/cars/<%=car._id%>/comments" method="POST">
        <div class="ui container">
            <label for="name" class="ui pointing below label">Text</label>
            <input type="text" placeholder="Text" name="comment[text]">
        </div>
        <div class="ui container">
            <label for="image" class="ui pointing below label">image</label>
            <input type="text" placeholder="Image" name="comment[author]">
        </div>
            <div class="ui container">
                <input type="submit" action="submit" class="ui button blue">
            </div>
        </form>
        
    </div>

<% include ../partials/footer %>